.icon-milestone
{
	background-image:		url("../images/milestone.png");
}

.icon-milestones
{
	background-image:		url("../images/milestones.png");
}

.collapse .toggle {
    background: url("../images/collapse.gif");
}
.expand .toggle {
    background: url("../images/expand.gif");
}
.toggle {
    height: 9px;
    width: 9px;
    display: inline-block;
}
.ar_operations {
    display: inline;
}
.ar_toolbar {
}

div.tooltip {
    display: inline;
}

div.tooltip:hover span.tip {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px;
}
